header
    .header-about
        .header-about__tel.header-about__item Свяжитесь с нами: 8 (977)  777-77-77
        .header-about__btn.header-about__item Заказать обратный звонок
        .header-about__mail.header-about__item Наша почта: help.gmail.com
        .header-about__social.header-about__item
            .header-about__social-item.header-about__social-fb
            .header-about__social-item.header-about__social-yt
            .header-about__social-item.header-about__social-vk
            .header-about__social-item.header-about__social-ok
            .header-about__social-item.header-about__social-gp
            .header-about__social-item.header-about__social-skype
    .header-nav
        .header-nav__block1 О нашем продукте
        .header-nav__block2 Применение
        .header-nav__block3 Каталог
        .header-nav__block4 Отзывы
        .header-nav__block5 Продажи оптом
        .header-nav__block6 Оплата/Доставка
        .header-nav__block7 Контакты