header
  display flex
  flex-direction column
  width 100%

.header-about
  display flex
  flex-wrap nowrap
  justify-content space-around
  width inherit
  height 40px

  .header-about__item
    display flex
    flex-direction row
    align-items center
    background-color #ffff00

    .header-about__social-item
      width 40px
      height 40px
      background-repeat no-repeat !important
      background-position center !important

    .header-about__social-fb
      background url("../img/content/fb_icon.png")

    .header-about__social-yt
      background url("../img/content/yt_icon.png")

    .header-about__social-vk
      background url("../img/content/vk_icon.png")

    .header-about__social-ok
      background url("../img/content/ok_icon.png")

    .header-about__social-gp
      background url("../img/content/g+_icon.png")

    .header-about__social-skype
      background url("../img/content/sk_icon.png")

.header-nav
  display flex
  justify-content space-around
  align-items center
  width inherit
  height 40px