extends ../layout/main

block title
    | Lepo.ru

block content
    main
        .main-banner
        .main_block1
            .main_block1__title.main_title О НАШЕМ ПРОДУКТЕ
            .main_block1__basic
                .main_block1__basic-image
                .main_block1__basic-description
                    p Разработка российских ученых, основанная на отзывах заботливых мам. Достойный аналог знаменитого шведского Кинетического песка. В составе: чистейший кварцевый песок и особый безопасный полимер, который придает ему чудесные свойства. Абсолютно безвредный и гигиенически чистый. Имеет сертификат безопасности. Не рассыпается на мелкие частицы и не оставляет жирных следов на поверхностях. Отлично держит форму. Не имеет запаха. Входящее в состав вещество является антисептиком, поэтому бактерии в его составе не живут. Идеален для детских игр, развивающих и коррекционных занятий с малышами и детьми постарше.Песочница дома круглый год!
                    p Разработка российских ученых, основанная на отзывах заботливых мам. Достойный аналог знаменитого шведского Кинетического песка. В составе: чистейший кварцевый песок и особый безопасный полимер, который придает ему чудесные свойства. Абсолютно безвредный и гигиенически чистый. Имеет сертификат безопасности. Не рассыпается на мелкие частицы и не оставляет жирных следов на поверхностях.
            .main_block1__btn Перейти в каталог
            .main_block1__images
                .main_block1__image-item.main_block1__image1
                .main_block1__image-item.main_block1__image2
                .main_block1__image-item.main_block1__image3
                .main_block1__image-item.main_block1__image4
                .main_block1__image-item.main_block1__image5
        .main_block2
            .main_block2__title.main_title ПРЕИМУЩЕСТВА НАШЕЙ ПРОДУКЦИИ
            .main_block2__items
                .main_block2__item
                    .main_block2__image.main_block2__image1
                    .main_block2__description Производится в России
                .main_block2__item
                    .main_block2__image.main_block2__image2
                    .main_block2__description Не оставляет следов
                .main_block2__item
                    .main_block2__image.main_block2__image3
                    .main_block2__description Развивает творческое мышление
                .main_block2__item
                    .main_block2__image.main_block2__image4
                    .main_block2__description 100% безопасен
        .main_block3
            .main_block3__title.main_title ПОПУЛЯРНАЯ ПРОДУКЦИЯ
            .main_block3__slider
                .main_block3__slider-image
                    img(src="static/img/content/section3_img1.png")
                .main_block3__slider-content
                    .main_block3__slider-cotnent_description
                    .main_block3__slider-cotnent_btn

